@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap p.is-editor-empty:first-child::before {
  color: #9ca3af;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3 {
  page-break-after: avoid;
}

.ProseMirror p,
.ProseMirror li {
  page-break-inside: avoid;
}

.ProseMirror pre,
.ProseMirror blockquote {
  page-break-inside: avoid;
}

.ProseMirror img {
  max-width: 100%;
}